{% extends 'foodie/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Recipes
{% endblock %}

{% block body_block %}
	{% if recipes %}
        {% for recipe in recipes %}
            <div class="textBox1">
                <h2 class="recipe_result_title">{{ recipe.name }}</h2>
                <img class="recipe_result_img" src="{{ recipe.photo }}" alt="photo of {{ recipe.name }}" />
            </div>
        {% endfor %}
    {% else %}
        <div class="noRecipes">
            <h4 class="not_found">No recipes!</h4>
        </div>
    {% endif %}

{% endblock %}