<!DOCTYPE html>
{% load staticfiles %}

<html>
	<head>
		<meta charset="UTF-8">
		<meta name = "viewport" content="width=device-width, initial-scale=1">
		{% block base_css %}
			<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}"/>
		{% endblock %}

		<title>
			Foodie -
			{% block title_block %}
				Base
			{% endblock %}
		</title>
		
		<div class="logo">
			<img src="{% static 'images/logo.png' %}"
				alt= "Picture of our logo" /> 
				
			<h1>  Foodie  <h1>
		</div>
	</head>
	
	

	<body>
		<div class = "sidenav">
			
			{% block sidenav %}
				<a href="{% url 'foodieapp:home' %}">Home</a>
				<a href="/foodie/recipes" class = "right">Recipes</a>
				{% if user.is_authenticated %}
					<a href="{% url 'foodieapp:myrecipes' %}">My Recipes</a>
					<a href="{% url 'foodieapp:newrecipe' %}">Add New Recipe</a>
					<a href="{% url 'foodieapp:logout' %}">Logout</a>
				{% else %}
					<a href="{% url 'foodieapp:login' %}">Login</a>
					<a href="{% url 'foodieapp:signup' %}">Register</a>
				{% endif %}
			{% endblock %}
			
		</div>
	
		<div class="search">
			<form id="form">
				<input type="search" id="query" name="q" placeholder="Search...">
				<button>Search</button>
			</form>
		</div>

		<div class = "main">
			{% block body_block %}
			{% endblock %}
		</div>

		<script src="{% static "js/jquery-3.3.1.min.js" %}" crossorigin="anonymous"></script>
		<script src="{% static "js/foodie-jquery.js" %}" crossorigin="anonymous"></script>
	</body>
</html>
