<!DOCTYPE html>
{% load staticfiles %}

<html>
	<head>
		<meta charset="UTF-8">
		<meta name = "viewport" content="width=device-width, initial-scale=1">
		{% block base_css %}
			<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}"/>
		{% endblock %}

		<title>
			Foodie -
			{% block title_block %}
				Base
			{% endblock %}
		</title>

	</head>

	<body>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<div class="logo">
			<img src="{% static 'images/logo.png' %}"
				 />

		</div>

		<div class="heading">

			<h1 style="font-size:6vw">Foodie</h1>

		</div>

		<div class = "sidenav">

			{% block sidenav %}
				<a href="{% url 'foodieapp:home' %}">Home</a>
				<a href="foodieapp:allRecipes">Recipes</a>
				{% if user.is_authenticated %}
					<a href="{% url 'foodieapp:myrecipes' %}">My Recipes</a>
					<a href="{% url 'foodieapp:newrecipe' %}">Add New Recipe</a>
					<a href="{% url 'foodieapp:logout' %}">Logout</a>
				{% else %}
					<a href="{% url 'foodieapp:register' %}">Register</a>
					<a href="{% url 'foodieapp:login' %}">Login</a>
				{% endif %}
			{% endblock %}
			
		</div>

		<div id="mainSearchContainer">

			<div class="search_container">
				<form id="search_form">
					<input id="query" name="query" type="search" name="q" placeholder="Search...">
					<label for="filter">Filter: </label>
					<select id="filter" name="filter">
						<option value="title" selected>Recipe Name</option>
						<option value="user">User</option>
						<option value="ingredients">Ingredients</option>
					</select>
					<button id="search_button">Search</button>
				</form>
			</div>

			<div class = "main">
				{% block body_block %}
				{% endblock %}
			</div>


		</div>

		<script src="{% static "js/jquery-3.3.1.min.js" %}" crossorigin="anonymous"></script>
		<!--<script src="{% static "js/foodie-jquery.js" %}" crossorigin="anonymous"></script>-->

	</body>
</html>
