{% extends 'foodie/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Home
{% endblock %}

{% block body_block %}

	<div class = "titleBox">
		<h2>Top Recipes</h2>

		</div>

	<div class = "textBox1">
		<p>
			info about the recipes
		</p>

		</div>

	<div>
	{% if recipes %}
		<ul>
		{% for recipe in recipes %}
			<li><a href="/foodie/recipe/{{ recipe.slug }}/">{{ recipe.name }}</a></li>
		{% endfor %}
		</ul>
	{% else %}
		<strong>There are no top recipes present.</strong>
	{% endif %}
	</div>

{% endblock %}










