{% extends 'foodie/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Search Results
{% endblock %}

{% block body_block %}
    <div id="spacer">
        {% if recipes %}
            {% for recipe in recipes %}
                <a href="">
                    <div class="recipe_result_container">
                        <h4 class="recipe_result_title">{{ recipe.title }}</h4>
                        <img class="recipe_result_img" src="{{ recipe.photo }}" alt="photo of {{ recipe.title }}" />
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <h4 class="not_found">No recipes!</h4>
        {% endif %}
    </div>
{% endblock %}