mint green is hex #9adcb1

.logo{

    width: 50px;
    display: inline-flex;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #c0e1bd;
}


.sidenav {
  width: 230px;
  position: fixed;
  z-index: 1;
  top: 200px;
  left: 50px;
  background: green;
  overflow-x: hidden;
  padding: 8px 0;
}

.search input[type="text"] {
    position:absolute;
    left:50%;
    top:25%;
    width:50%;
    background-color:white;
    color:grey;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 50px;
  color: Black;
  background: white;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 60px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}


.logo img{
    margin: auto 5px;
    float: left;
}

.heading {
  margin-right:150px;
  text-align: center;
  font-size: 1em;
  color: #009;
  margin-bottom: .3em;

}

table {
  margin: .3em;
  width: 290px;
}

th {
  padding: .2em;
}

td {
  padding-left: .5em;
  padding-right: .5em;
  border: 1px solid #900;
  background-color: #ffc;
}

#trHeader {
  text-decoration: underline;
  color: #900;
}

.centerCell {
  text-align: center;
}