body {
  font-family: "Lato", sans-serif;
  background-color: #c0e1bd;
}

/* home.html */

#homeText{
  text-align: center;
  background-color: white;
  border: black;
  width: 500px;
  height: 100px;
  margin-left: 350px;
  margin-top: 75px;
}

.titleBox {
  text-align: center;
  background-color: green;
  border: green;
  width: 300px;
  height: 65px;
  margin-left: 450px;
  margin-top: 175px;
}

/* base.html */

#logo {
  border-color: red;
  width: 10vw;
  height: 10vw;
  float: left;  
}


#logo img{
  margin: auto 50px;
  float: left;
}

#heading {
  width: 300px;
  height: 100px;
  text-align: center;
  margin-left: 30vw;
  margin-bottom: 0vw;
  font-size: 3em;
  color: green;
  float: left;
}

.sidenav {
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 200px;
  left: 50px;
  background: green;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 40px;
  color: Black;
  background: white;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}


.search {
  position:relative;
  left:100%;
  top:50%;
  width:100%;
  background-color:white;
  color:grey;
}

.main {
  text-align: center;
  margin-left: 200px; /* Same width as the sidebar + left position in px */
  font-size: 30px; /* Increased text to enable scrolling */
}

/* allRecipes.html */

.noRecipes{
  text-align: center;
  margin-top: 300px;
  margin-left: -150px;
}

.noRecipesMessage{
  text-align: center;
  margin-top: 100px;
}

/* register.html */

.foodieSignupTitle{
  text-align: center;
  margin-top: 200px;
  margin-right: 35vw;
}

.foodieSignupForum{
  text-align: center;
  margin-top: 25px;
  margin-right: 35vw;

}

/* login.html */

.loginForum{
  text-align: center;
  margin-top: 250px;
  margin-right: 25vw;
}

/* newRecipe.html */

#newRecipeHeader {
  margin-top: 150px;
}

.submissioncontainer {
  margin-top: 20px;
  margin-left: 250px;
  text-align: left;
}

.submissionfield {
  border: 1px solid #999999;
  padding: 5px;
}

/* search.html */

#spacer{
  margin-top: 200px;
}

.recipe_result_container{
  height:100px;
  width: 750px;
  margin-top: 20px;
  margin-left: 250px;
  text-align: left;
  background-color: white;
}

.recipe_result_title{
  height: 15px;
  margin-left: 20px;
  float: left;
  display: flex;
  align-items: center;
}

.recipe_result_img{
  width: 100px;
  height: 100px;
  float: right;
  font-size: smaller;
}
